/*
    CIS 376 - 01 ; Dr. Cumbie
    Jasmine Morgan
    1/29/2026 - (UPDATE BEFORE SUBMISSION)
    Description: Stylesheet for Barbering and Beauty by Kayla Latrell homepage.
*/

/* import fonts */
.alan-sans {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.carattere-regular {
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
}


/* GLOBAL STYLES */
body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;        /* prevent horizontal scroll */
}

/* NAV BAR */ 
#navbar {
    position: fixed;
    top: 0;
    width: 100%;

    background: #8b3ca1; 

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    transition: padding 0.3s ease;
    z-index: 1000;
    box-sizing: border-box;
}

/* making the nav bar more centered */ 
.nav-inner {
    display: flex;
    justify-content: center;   /* centers all children */
    align-items: center;
    gap: 40px;                 /* space between logo and links */
}

/* logo and site name */
.nav-logo {
    font-family: "Alan Sans", system-ui;
    font-size: 28px;
    color: white;

    flex-wrap: wrap;
    justify-content: flex-end;
}

/* nav links list */ 
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

/* individual nav links */
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* cta button */
.nav-links a.cta {
    background-color: white;
    color: black;
    font-weight: bold;

    padding: 6px 14px;
    border-radius: 999px;
    border: 1px solid #ddd;

    transition: background-color 0.2s ease, transform 0.2s ease;
}

/* cta hover effect */
.nav-links a.cta:hover {
    background-color: #f3f3f3;
    transform: translateY(-1px);
}

/* hover effect for nav links */
.nav-links a:hover {
    text-decoration: underline;
}

/* shrunken nav bar */
#navbar.shrink {
    padding: 8px 40px;
}

/* HEADER */
#welcome-header {
    background: linear-gradient(
        135deg,
        #cc71d7 0%,
        #b565d9 50%,
        #9d4edd 100%
    );

    color: white;
    text-align: center;
    font-family: "Alan Sans", system-ui, sans-serif;
    text-shadow:
        2px 2px 3px #624267,
        -2px 2px 3px #624267,
        2px -2px 3px #624267,
        -2px -2px 3px #624267;

    font-size: 30px;
    padding: 15px 10px;
    margin-top: 80px;
}

/* text below welcome message */
#slogan {
    font-family: "Carattere", system-ui, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
}

/* content sections */
.content-section {
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.content-section img {
    width: 100%;
    border-radius: 8px;
    margin-top: 15px;
}